.App{
    background-image:url("https://s.hswstatic.com/gif/13-people-at-table-orig.jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;

  }

.btn{
    display: block;
    margin-top: 10px;
}
.HallPicker{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.Header{
    display: flex;
    justify-content: center;
    min-height: 4em;
    background:rgba(99, 163, 206,.8);
    border-radius: 20px;
    margin: 1em;
    color: white;
    font-family: 'Lobster', cursive;
    border-style: line;


}
/* profile class */
.Profile{
    display: flex;
    flex-direction: row;
    margin: 20px,0,0,20px;
    margin-top: 20px;
    padding: 10px;
    word-wrap: break-word;
    background: rgb(252, 251, 251);
    border-radius: 20px;
    border: 1px;
    border-style: solid;

}
.profile-photo{
    max-height: 5rem;
    border-radius: 100px;
}
.name{
    border: 0;
    margin: 0;
    padding: 10px;

}

/* carousel */

/* insert media querries here!!!! */
.carousel{
    background-color: rgba(237, 243, 231, 0.8);
    min-height: 400px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 40px;
    margin: 1em;

}




